{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'books/css/bootstrap.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'books/css/bootstrap.min.css'%}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock title%}</title>
</head>
    <body>
        <div class="row">
            <div class="col-3">
                <li><a href="{%url 'profiles:profile' profile.roll_no%}">Profile</a></li>
                </li><a href="{%url 'books:home'%}">Home</a></li>
            </div>
            <div class="col">
                {%block content%}
                {%endblock content%}
            </div>
            <div class="col-3">
                <a href="{% url 'accounts:logout' %}">Logout</a>
            </ul>
        </div>
    </body>
</html>