{%extends 'profiles/base.html'%}
{%load deadlines %}
{% load render_table from django_tables2 %}
{%block title%}
    Profile
{%endblock title%}
{%block content%}
Profile
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{profile.profile_photo.url}}" alt="connect" style="max-height:200px">
            </div>
            <div class="col">
                <li>Name: {{profile.name}}</li>
                <li>Roll No: {{profile.roll_no}}</li>
                <li>Gender: {{profile.gender}}</li>
                <li>Branch: {{profile.branch}}</li>
                <li>Year: {{profile.year}}</li>
                <li>Programme: {{profile.programme}}</li>
                <li>Email Id: {{profile.email_id}}</li>
            </div>
        </div>
        <div class="row">
            <form action="{%url 'profiles:edit_profile' profile.roll_no%}">
                <input type="submit" value="Edit Profile" class="btn btn-primary">
            </form>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-auto">
                <div class="heading">Pending Book Issue Requests</div>
                    <div class="container">
                        {% render_table table %}
                    </div>
                <div class="heading">Books Issued</div>
                <div class="container">
                    {% render_table issued_books_table %}
                </div>
                <div class="heading">Books Returned</div>
                <div class="container">
                    {% render_table returned_books_table %}
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{%endblock%}