{%extends 'profiles/base.html'%}
{%load deadlines %}
{% load render_table from django_tables2 %}
{%block title%}
    Profile
{%endblock title%}
{%block content%}
{%if messages%}
    {%for message in messages%}
        <div class="alert alert-success" role="alert">{{message}}</div>
    {%endfor%}
{%endif%}
Profile
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{profile.profile_photo.url}}" alt="connect" style="max-height:200px">
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">Name: {{profile.name}}</li>
                    <li class="list-group-item">Roll No: {{profile.roll_no}}</li>
                    <li class="list-group-item">Gender: {{profile.gender}}</li>
                    <li class="list-group-item">Branch: {{profile.branch}}</li>
                    <li class="list-group-item">Year: {{profile.year}}</li>
                    <li class="list-group-item">Programme: {{profile.programme}}</li>
                    <li class="list-group-item">Email Id: {{profile.email_id}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <form action="{%url 'profiles:edit_profile' profile.roll_no%}">
                <input type="submit" value="Edit Profile" class="btn btn-primary">
            </form>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-auto">
                <div class="heading">Pending Book Issue Requests</div>
                    <div class="container">
                        {% render_table table %}
                    </div>
                <div class="heading">Books Issued</div>
                <div class="container">
                    {% render_table issued_books_table %}
                </div>
                <div class="heading">Books Returned</div>
                <div class="container">
                    {% render_table returned_books_table %}
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{%endblock%}