{%extends 'profiles/base.html'%}

{%block title%}
    Profile
{%endblock title%}
{%block content%}
Profile
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{profile.profile_photo.url}}" alt="connect" style="max-height:200px">
            </div>
            <div class="col">
                <li>Name: {{profile.name}}</li>
                <li>Roll No: {{profile.roll_no}}</li>
                <li>Gender: {{profile.gender}}</li>
                <li>Branch: {{profile.branch}}</li>
                <li>Year: {{profile.year}}</li>
                <li>Programme: {{profile.programme}}</li>
                <li>Email Id: {{profile.email_id}}</li>
            </div>
        </div>
        <div class="row">
            <form action="{%url 'profiles:edit_profile' profile.roll_no%}">
                <input type="submit" value="Edit Profile" class="btn btn-primary">
            </form>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-auto">

                <div class="heading">Pending Book Issue Requests</div>
                <div class="container">
                    <table>
                        <tr>
                            <th>Book Name</th>
                            <th>Code</th>
                        </tr>
                        {%for book_issue_request in book_issue_requests%}
                            <tr>
                                <td>{{book_issue_request.book.title}}</td>
                                <td>{{book_issue_request.code}}</td>
                                <td>
                                    <form method="post" action="{% url 'book_issue:cancel_request' book_issue_request.pk%}">
                                        {%csrf_token%}
                                        <input type="submit" value="Cancel" class="btn btn-danger">
                                    </form>
                                </td>
                            </tr>
                        {%endfor%}
                    </table>
                </div>

                <div class="heading">Books Issued</div>
                <div class="container">
                    <table>
                        <tr>
                            <th>Book Name</th>
                            <th>Issued Time</th>
                            <th>Return Book</th>
                        </tr>
                        {%for issued_book in issued_books%}
                            <tr>
                                <td>{{issued_book.book.title}}</td>
                                <td>{{issued_book.created}}</td>
                                <td>
                                    <form action="{%url 'book_issue:book_return' issued_book.pk%}">
                                        <input type="submit" value="Return" class="btn btn-primary">
                                    </form>
                                </td>
                            </tr>
                        {%endfor%}
                    </table>
                </div>

                <div class="heading">Books Returned</div>
                <div class="container">
                    <table>
                        <tr>
                            <th>Book Name</th>
                            <th>Returned Time</th>
                        </tr>
                        {%for returned_book in returned_books%}
                            <tr>
                                <td>{{returned_book.book.title}}</td>
                                <td>{{returned_book.created}}</td>
                            </tr>
                        {%endfor%}
                    </table>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>
{%endblock%}