{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'books/css/bootstrap.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'books/css/bootstrap.min.css'%}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
    <body>
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                {%for book_issue_request in pending_book_issue_requests%}
                    <form method="post" action="">
                        {%csrf_token%}
                        {{book_issue_request.user.username}}
                        {{book_issue_request.book.title}}
                        {{form}}
                        <input type="submit" name="enter" value="{{book_issue_request.pk}}">
                    </form>
                {%endfor%}
            </div>
            <div class="col-3">
                <a href="{% url 'accounts:logout' %}">Logout</a>
            </div>
        </div>
    </body>
</html>