{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'books/css/bootstrap.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'books/css/bootstrap.min.css'%}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock title%}</title>
</head>
    <body>
        <div class="row">
            <div class="col-3">
                <li><a href="{%url 'profiles:profile' user.profile.roll_no%}">Profile</a></li>
                </li><a href="{%url 'books:home'%}">Home</a></li>
            </div>
            <div class="col">
                {%block content%}
                {%endblock content%}
            </div>
            <div class="col-3">
                Profile
                <ul class="list-group">
                    <li class="list-group-item">Name: {{user.profile.name}}</li>
                    <li class="list-group-item">Roll No: {{user.profile.roll_no}}</li>
                    <li class="list-group-item">Gender: {{user.profile.gender}}</li>
                    <li class="list-group-item">Branch: {{user.profile.branch}}</li>
                    <li class="list-group-item">Year: {{user.profile.year}}</li>
                    <li class="list-group-item">Programme: {{user.profile.programme}}</li>
                    <li class="list-group-item">Email Id: {{user.profile.email_id}}</li>
                </ul>
                <a href="{% url 'accounts:logout' %}">Logout</a>
            </div>
        </div>
    </body>
</html>